.list { display: flex; flex-wrap: wrap; gap: var(--space-16) var(--space-24); align-items: center; list-style: none; padding: 0; }
.link { color: var(--color-text); font-size: var(--fs-small); font-weight: 700; }
.link:hover { color: var(--color-primary); }
